<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HotSaleSenfoniAppServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <connectionStrings>
    <!--<add name="uyum" connectionString="Data Source=UYUM_TEST;User Id=uyumsoft;Password=uyumsoft" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Data Source=DELTALOCAL;User Id=uyumsoft;Password=uyumsoft" providerName="Oracle.ManagedDataAccess.Client" />-->
    <add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.17.37.93)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMSOFT)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />
    <!--<add name="uyum" connectionString="Server=192.168.71.33;User Id=uyum;Password=12345;Database=uyumtestdb;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    <!--<add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.71.33)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMPROD)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Server=195.175.49.218;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    <!--<add name="uyum" connectionString="Server=195.175.49.218;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    <!--<add name="uyum" connectionString="Server=192.168.3.216;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    <!--<add name="uyum" connectionString="Server=195.175.49.218;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <applicationSettings>
    <HotSaleSenfoniAppServer.Properties.Settings>
      <setting name="HotSaleSenfoniAppServer_Senfoni_GeneralSenfoniService"
        serializeAs="String">
        <!--<value>http://pgtest.ofis.uyumcloud.com/WebService/General/GeneralSenfoniService.asmx</value>-->
        <value>http://localhost:4444</value>
      </setting>
      <setting name="UyumUrl" serializeAs="String">
        <!--<value>http://oratest.ofis.uyumcloud.com</value>-->
        <!--<value>http://10.17.37.51:8181/</value>-->
        <!--<value>https://mobilesenfoni.delta-group.az/</value>-->
        <value>http://localhost:4446</value>
      </setting>
    </HotSaleSenfoniAppServer.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
  </system.webServer>
</configuration>