<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HotSaleSenfoniAppServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="629145600" executionTimeout="3600"/>
    <compilation debug="true" targetFramework="4.7.1"/>
  </system.web>
  <connectionStrings>
    <!-- uyum -->
    <!-- add name="uyum" connectionString="Data Source=UYUM_TEST;User Id=uyumsoft;Password=uyumsoft" providerName="Oracle.ManagedDataAccess.Client" / -->
    <!-- delta test -->
    <!--add name="uyum"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.17.37.92)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMTEST)));User Id=uyumsoft;Password=uyumsoft;"
      providerName="Oracle.ManagedDataAccess.Client"/ -->
    <!-- delta -->
    <!-- add name="uyum"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.17.37.93)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMSOFT)));User Id=uyumsoft;Password=uyumsoft;"
      providerName="Oracle.ManagedDataAccess.Client"/ -->
    <!-- add name="uyum"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.17.37.93)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMSOFT)));User Id=uyumsoft;Password=uyumsoft;"
      providerName="Oracle.ManagedDataAccess.Client"/ -->
    <!-- oratest -->
    <add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.71.33)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMTESTPDB)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client"/>
    <!-- firintastest -->
    <!-- add name="uyum"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=176.235.80.75)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMSOFT)));User Id=uyumsoft;Password=uyumsoft;"
      providerName="Oracle.ManagedDataAccess.Client" / -->
    <!-- kopuz -->
    <!-- add name="uyum" connectionString="Server=192.168.2.64;User Id=uyum;Password=1iu7gdS2;Database=uyumtest;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/ -->
    <!-- add name="uyum" connectionString="Server=192.168.71.33;User Id=uyum;Password=12345;Database=uyumtestdb;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/ -->
    <!--<add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.71.33)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMPROD)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Server=195.175.49.218;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    <!--<add name="uyum" connectionString="Server=195.175.49.218;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    <!--<add name="uyum" connectionString="Server=192.168.3.216;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    <!--<add name="uyum" connectionString="Server=195.175.49.218;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <HotSaleSenfoniAppServer.Properties.Settings>
      <setting name="UyumUrl" serializeAs="String">
        <!-- value>http://localhost:7727/</value -->
        <!-- value>http://localhost:4444/</value -->
        <!-- value>http://pgtest.ofis.uyumcloud.com/</value -->
        <value>http://oratest.ofis.uyumcloud.com/</value>
        <!-- value>http://192.168.2.65:8060/</value -->
        <!--value>http://10.17.37.92/</value-->
        <!-- delta test -->
        <!-- value>https://erp.agrotradesupply.az:8181/</value -->
        <!-- delta -->
        <!-- value>https://mobile.agrotradesupply.az:8181/</value -->
        <!-- delta -->
        <!-- value>http://85.132.37.226:8090/</value -->
        <!-- delta -->
      </setting>
      <setting name="HotSaleSenfoniAppServer_Senfoni_GeneralSenfoniService" serializeAs="String">
        <!-- value>http://localhost:7727/WebService/General/GeneralSenfoniService.asmx</value -->
        <!-- value>http://localhost:4444/WebService/General/GeneralSenfoniService.asmx</value -->
        <!-- value>https://erp.agrotradesupply.az:8181/WebService/General/GeneralSenfoniService.asmx</value -->
        <value>http://oratest.ofis.uyumcloud.com/WebService/General/GeneralSenfoniService.asmx</value>
        <!--value>http://pgtest.ofis.uyumcloud.com/WebService/General/GeneralSenfoniService.asmx</value-->
        <!-- value>http://192.168.2.65:8060/WebService/General/GeneralSenfoniService.asmx</value -->
        <!--value>http://10.17.37.92/WebService/General/GeneralSenfoniService.asmx</value-->
        <!-- delta test -->
        <!-- value>https://erp.agrotradesupply.az:8181/General/GeneralSenfoniService.asmx</value -->
        <!-- value>http://85.132.37.226:8090/General/GeneralSenfoniService.asmx</value -->
        <!-- delta -->
      </setting>
    </HotSaleSenfoniAppServer.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
  </system.webServer>
</configuration>